# {{ ansible_managed }}

# Include files from /etc/network/interfaces.d:
source-directory /etc/network/interfaces.d

auto lo
iface lo inet loopback

{% if lan_static and 'enabled' in lan_static and lan_static.enabled == True %}
auto {{ lan_adapter }}
iface {{ lan_adapter }} inet static
  address {{ lan_static.address }}
  netmask {{ lan_static.netmask }}
  gateway {{ lan_static.gateway }}
{% else %}
iface {{ lan_adapter }} inet manual
{% endif %}

auto {{ wifi_adapter }}
iface {{ wifi_adapter }} inet static
  address {{ own_ip }}
  netmask {{ subnet }}
  network {{ network }}
  broadcast {{ broadcast }}

